<div class="wrapper">
	<div class="logo">
		<img alt="" src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png">
	</div>
	<div class="text-center mt-4 name">
		Bank Login
	</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="form" class="p-3 mt-3">
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<input formControlName="userName" formControlName="username" id="userName" name="userName" placeholder="Username"
				  type="text">
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input formControlName="password" formControlName="password" id="pwd" name="password" placeholder="Password"
				  type="password">
		</div>
		<button class="btn mt-3">Login</button>
	</form>
	<div class="text-center fs-6">
		<a href="#">Forget password?</a> or <a href="#">Sign up</a>
	</div>
</div>
